body {
    padding-top: 50px;
}
.jumbotron {
    margin-top: 0px;
    padding:15px !important;
}
.form-control {
    margin-bottom:5px
}
.form-control[type=date] {
    padding-top:0;
    padding-bottom:0;
}
.btn[type=submit]  {
    margin-top:10px
}
